<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Trekker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-item nav-link" href="/campgrounds/new">New Campground </a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser) { %>
        <a href="/login" class="nav-link">Login</a>
        <a href="/register" class="nav-link">Sign up</a>
        <% } else { %>
        <a href="/logout" class="nav-link">Logout</a>
        <% } %>
      </div>
    </div>
  </nav>